body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

p {
  font-size: 21px;
}

footer {
  text-align: right;
}

.gray {
  color: gray;
}
